body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
}

div h1{
    font-family: "Kavoon", sans-serif;
    font-size: 50px;
    width: fit-content;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
    background: linear-gradient(135deg,#e710a7, #9c06e7, #09acec,#0de04c, #12c7e3, #e710a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 50vh;
}

